:root {
    --main-mrg: 8px 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
    
    /* border: 1px solid #999; */
    color: rgb(244, 244, 244);
    font-size: 16px;
    
}

li {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px 15px 15px 35px;
    margin-bottom: 10px;
}



.news {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.news__wrapperState.close {
    visibility: hidden;
    height: 0;
}

.news__author {
    color: #fff;
    background: #4badf4;
    display: block;
    text-align: center;
    z-index: 2;
    padding: 3px 8px;
    margin: var(--main-mrg);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 8px;
}

.news__text {
    
    border-bottom: 1px solid #707070;
    padding-bottom: 4px;
    margin: var(--main-mrg);
}

a {
    color: #4badf4;

}

p {
    margin: 0;
}

.icon.button {
    margin-left: 8px;
    display: block;
    transition: .4s;
        width: 26px;
        height: 26px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E .cls-1%7Bfill:none%7D.cls-2%7Bclip-path:url(%23clip-path)%7D.cls-3%7Bfill:%23d3d3d3%7D %3C/style%3E%3CclipPath id='clip-path'%3E%3Cpath d='M0 0h16v16H0z' class='cls-1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Add_hover' class='cls-2'%3E%3Cpath id='Subtraction_6' d='M4753-1032a8.009 8.009 0 0 1-8-8 8.01 8.01 0 0 1 8-8 8.009 8.009 0 0 1 8 8 8.008 8.008 0 0 1-8 8zm-2.834-8.738a.632.632 0 0 0-.631.631.632.632 0 0 0 .631.631h2.145a.127.127 0 0 1 .126.127v2.145a.632.632 0 0 0 .631.631.632.632 0 0 0 .631-.631v-2.145a.126.126 0 0 1 .125-.127h2.145a.632.632 0 0 0 .631-.631.632.632 0 0 0-.631-.631h-2.145a.126.126 0 0 1-.125-.125v-2.145a.632.632 0 0 0-.631-.631.632.632 0 0 0-.631.631v2.145a.126.126 0 0 1-.126.125z' class='cls-3' data-name='Subtraction 6' transform='translate(-4745 1048)'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.news__btnblock:hover .icon.button, .icon.button.open{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Add_hover' width='26' height='26' viewBox='0 0 18 18'%3E%3Cdefs%3E%3Cstyle%3E .cls-1%7Bfill:%234badf4%7D %3C/style%3E%3C/defs%3E%3Cpath id='Subtraction_6' d='M9 18a9 9 0 1 1 9-9 9.01 9.01 0 0 1-9 9zM5.813 8.17a.71.71 0 1 0 0 1.419h2.412a.142.142 0 0 1 .142.143v2.413a.71.71 0 0 0 1.42 0V9.732a.142.142 0 0 1 .141-.143h2.413a.71.71 0 1 0 0-1.419H9.928a.141.141 0 0 1-.141-.141V5.616a.71.71 0 0 0-1.42 0v2.413a.142.142 0 0 1-.142.141z' class='cls-1' data-name='Subtraction 6'/%3E%3C/svg%3E%0A")
}

.news__title {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.news__btnblock {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    margin-bottom: 8px;
    
}

.news__txtwrapper {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.news__rate {
    padding: 4px 8px;
    border-radius: 40%;
    background: #ff4646;
    margin-left: 8px;
    color: #2b2929;
    font-size: 12px;
}











